#j-foot{
    display: flex;
    width: 100%;
    position:fixed;
    left:0;
    bottom:0;
    a{
        display: inline-block;
        width: 25%;
        p{
            display: flex;
            height: 0.666667rem;
            flex-direction: column;
            width: 100%;
            text-align: center;
            justify-content: space-between;
            i{
                font-size: 0.373333rem;
            }
            span{
                font-size: 0.186667rem;
                text-align:center;
            }
        }
        .active{
            color:#f24730;
        }
    }
    
}