.wu-spinner-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: .4;
    z-index: 2090;
}

.wu-spinner-three-bounce.wu-spinner {
    position: absolute;
    top: 53%;
    left: 47%;
    background-color: none!important;
    z-index: 2099;
    margin: 0 auto;
    width: 70px;
    text-align: center;    
}

.wu-spinner-three-bounce div {
    width: .24rem*2;
    height: .24rem*2;
    background-color: #1ab394;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: wu-threeBounceDelay 1.4s infinite ease-in-out;
    animation: wu-threeBounceDelay 1.4s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.wu-spinner-three-bounce .wu-bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
}

.wu-spinner-three-bounce .wu-bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}

@-webkit-keyframes wu-threeBounceDelay{
    0%,
    100%,
    80%{-webkit-transform:scale(0); transform:scale(0)}
    40%{-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes wu-threeBounceDelay{
    0%,
    100%,
    80%{-webkit-transform:scale(0);transform:scale(0)}
    40%{-webkit-transform:scale(1);transform:scale(1)}
}