html, body{
    height: 100%;
    #jimaiw{ 
        display:flex;
        flex-direction: column;
        height:100%;
        // overflow-x: hidden;
        #w_header{
            position:fixed;
            top: 0;
            width:100%;
            z-index:100;
        }
        #w-carousel {
            width: 100%;
            height: 2.506667rem*2;
            img {
                width: 5.0rem*2;
                height: 2.506667rem*2;
            }
        }
        #w_nav{
            height: 1.28rem*2;
            padding: 0.173333rem*2 0;
            background: #fff;
            box-sizing: border-box;
            .w-ul{
                display:flex;
                justify-content: space-between;
                align-content: center;
                li{
                    height: 1.026667rem*2;
                    width: 25%;
                    text-align: center;
                    img{
                        display: block;
                        height: 0.6rem*2;
                        width: 0.6rem*2;
                        margin-left: 0.266667rem*2;
                    }
                    span{
                        display: block;
                        color: #000;
                        text-align:center;
                        width:1.09375rem*2;
                        font-size:32px;
                        margin-top: 0.093333rem*2;
                    }
                }
            }
        }
        .w-ts {
            position: relative;
            margin-top: 0.133333rem*2;
            width: 100%;
            background: #fff;
            padding: .173333rem*2;
            // overflow-x: hidden;
            .w-h3 {
                width: 0.96rem*2;
                height: 0.333333rem*2;
                border-radius: 0 0.333333rem*2 0.333333rem*2 0;
                background: #ffc65b;
                padding-left: .066667rem*2;
                padding-right: 10px;
                position: absolute;
                line-height: .333333rem*2;
                left: 0;
                font-size: 28px;
                top: -6px;
                color: #fff;
                z-index: 1;
            }
            .w-ts-ul {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                li {
                    width: 49.5%;
                    padding-bottom: 19%;
                    height: 0;
                    margin: .5% .2%;
                    img {
                        width: 2.306667rem*2;
                        height: 0.88rem*2;
                    }
                }
            }
        }
        #w-main {
            flex: 1;
            margin-bottom: 0.666667rem*2;
            .w-main-ul {
                display: flex;
                flex-wrap: wrap;
                align-items:flex-start;
                .w-main-li {
                    width:49%;
                    font-size:0.375rem*2;
                    border:0.015625rem*2 solid #ccc;
                    margin-top:0.15625rem*2;
                    background: #fff;
                    
                    // 
                    img {
                        // text-align: center;
                        margin:0 auto;
                        width: 4.4rem;
                       
                        height: 2.413333rem*2;
                    }
                    .main-des {
                        padding: 0 .133333rem*2;
                        color: #292c2e;
                        font-size: 32px;
                        margin-top: .133333rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .main-price::before {
                        content: '￥';
                    }
                    .main-price {
                        padding: 0 .133333rem*2;
                        margin-top: .173333rem*2;
                        overflow: hidden;
                        color: #f24730;
                        font-size: 40px;
                    }
                }
                li:nth-child(2n-1){margin-right: 2%;}
            }
            .toTop {
                position: fixed;
                bottom: 1.333333rem*2;
                right: 0.266667rem*2;
                width: .533333rem*2;
                height: .533333rem*2;
                line-height: .533333rem*2;
                background: #609ddc;
                border-radius: 50%;
                text-align: center;
                font-size: 30px;
                color: #fff;
            }
            .copy {
                line-height: 0.666667rem*2;
                text-align: center;
                font-size: 32px;
            }
        } 
    }
}