#j-my{
    background-color: #fff;
    display:flex;
    flex-direction:column;
    .j-my_t{
        height:.6rem;
        font-size: .24rem;
        line-height:.6rem;
        text-align: center;
        color:#322d2d;
        border-bottom:.026667rem solid #ccc;
        .j-fh{
            color:#322d2d;
            float:right;
            margin-right:.133333rem;
            i{
                font-size: .24rem;
            }
        }
    }
    .j-mymain{
        a{color:#322d2d;}
        .j-myxx{
            height: .8rem;
            margin:.133333rem;
            text-align: center;
            line-height: .8rem;
            >span{
                font-size: 0.28rem;
            }
            .wod{
                font-size: .666667rem;
                float:left;
            }
            .myr{
                float:right;
                font-size: .266667rem;
            }
        }
        .j-ys{
            height: .133333rem;
            background-color: #e5e8eb;
        }
        .j-dd{
            padding:0 .08rem;
            height: .533333rem;
            line-height: .533333rem;
            font-size: .213333rem;
            border-bottom:.013333rem solid #ccc;
            span{
                float:right;
                font-size: .186667rem;
            }
        }
        .j-fh{
            padding:0 .08rem;
            display:flex;
            border-bottom:.013333rem solid #ccc;
            p{
                margin-top:.08rem;
                width: 25%;
                text-align: center;
                i{font-size: .4rem; color:#f24730;}
                span{font-size: .16rem;}
            }
        }
        .j-xia{
            padding:0 .08rem;
            a{color:#3e3e3e;}
            p{
               padding:.133333rem 0;
                border-bottom:.013333rem solid #ccc;
                i{font-size: .4rem;}
                span{font-size: .266667rem; margin:0rem .133333rem;}
                .j-xiay{
                    font-size: .266667rem;
                    float:right;
                }
            }
            .j-login{
                text-align: center;background-color:red;margin-top:.08rem; border-radius: .066667rem;
                height: .533333rem;
                font-size: .213333rem;
                color:#fff;
               
            }
        }
    }
}